<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>


    <div th:replace="fragments/topline :: topline">&nbsp;</div>

    <div class="content">
        <ul th:if="${not #lists.isEmpty(departments)}">
            <li th:each="department: ${departments}">
                <a th:href="'/departments/view/' + ${department.id}">
                    <span th:text="${department.departmentName}"></span>
                    <span>    |   </span>
                    <span th:text="${#lists.size(department.lectors)}"></span>
                    <span>  -  employees  works here </span>
                </a>
                <a href="/departments/view/"></a>
            </li>
        </ul>

        <p th:unless="${not #lists.isEmpty(departments)}">No departments yet</p>
        <nav>
            <a class="add_btn" href="/departments/add">Add</a>
        </nav>

    </div>






    <div th:replace="fragments/styles :: style">&nbsp;</div>
</body>
</html>