<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


    <div th:replace="fragments/topline :: topline">&nbsp;</div>

    <div class="content">
        <p th:text="'assistants in this department: ' + ${amountOfAssistants}"></p>
        <p th:text="'associate professors in this department: ' + ${amountOfAssociateProfessors}"></p>
        <p th:text="'professors in this department: ' + ${amountOfProfessors}"></p>
        <p th:text="'avarage salary in this department: '+ ${avgSalary}"></p>
    </div>


    <div th:replace="fragments/styles :: style">&nbsp;</div>

</body>
</html>