<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


    <div th:replace="fragments/topline :: topline">&nbsp;</div>

    <div class="content">
        <p th:text="'head of department is - ' + ${head}"></p>

        <ul>
            <h2>Lectors:</h2>
            <li th:each="lector: ${lectors}">
                <span th:text="${lector.firstName}"></span>
                <span th:text="${lector.lastName}"></span>
            </li>
        </ul>


        <nav>
            <a class="add_btn" th:href="'/departments/add-item/' + ${departmentId}">Add</a>
            <a class="btn" th:href="'/departments/statistics/' + ${departmentId}">Check Statistics</a>
        </nav>
    </div>


    <div th:replace="fragments/styles :: style">&nbsp;</div>

</body>
</html>