<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


    </style>


</head>
<body>


<div th:replace="fragments/topline :: topline">&nbsp;</div>

    <div class="content">
        <table th:if="${not #lists.isEmpty(lectors)}">
            <tr>
                <th>firstName</th>
                <th>lastName</th>
                <th>amount of departments where work</th>
                <th>salary</th>
                <th>degree</th>
            </tr>

            <tr th:each="lector: ${lectors}">
                <td th:text="${lector.firstName}"></td>
                <td th:text="${lector.lastName}"></td>
                <td th:text="${#lists.size(lector.departments)}"></td>
                <td th:text="${lector.salary}"></td>
                <td th:text="${lector.degree}"></td>
            </tr>
        </table>

        <p th:unless="${not #lists.isEmpty(lectors)}">No lectors yet</p>

        <nav>
            <a class="add_btn" href="/lectors/add">Add</a>
            <!--<span>  |  </span>-->
            <!--<a href="">Remove</a>-->
        </nav>
    </div>


    <div th:replace="fragments/styles :: style">&nbsp;</div>

</body>
</html>